* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #0A192F;
    font-family: 'Nunito Sans', sans-serif;
    color: #8892B0;
}

h2 {
    font-family: 'Pangolin', cursive;
    color: #48CBE9;
}

div.conteudo {
    width: 55%;
    margin: 0 auto;
}

div.info {
    font-family: 'Pangolin', cursive;
    text-align: left;
    margin-top: 30%;
    margin-bottom: 44%;
}

div.info h1 {
    color: #48CBE9;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
}

div.info h2 {
    color: #ED2274;
    font-size: 75px;
    font-weight: 70px;
    margin-bottom: -10px;
}

div.info h3 {
    color: #48CBE9;
    font-size: 60px;
}

div.info p {
    margin-top: 10px;
    font-style: italic;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #48CBE9;

}

.banner {
    margin: 0;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0px 4px 2px -2px rgb(20, 34, 73);
    background-color: #0A192F;
    position: sticky;
    top: 0px;
}

ol.menu li a {
    display: inline-block;
}

ol.menu li {
    padding-bottom: 15px;
    margin-right: 50px;
    float: left;
}

ol.menu {
    list-style: decimal-leading-zero;
    color: #ED2274;
    font-weight: bold;
    float: right;
}

#foto {
    border-radius: 50%;
}